# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.pnpm-store/
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.agents/*
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/todo.md
**/TODO.md

# tools
ctx.py
generated/
*/.vitepress/cache

# other repo
.ops/
.plugins/
.plugin-template/
.private-docs/
demo/
